/* ------- Theme "Tropical" ------- */

@import "../var-colors";

$theme-primary-dark:  $teal-600;      $theme-primary-dark-text:   $teal-600-text;
$theme-primary:       $teal-A400;     $theme-primary-text:        $teal-A400-text;
$theme-secondary:     $grey-700;      $theme-secondary-text:      $grey-700-text;
$theme-accent:        $teal-100;      $theme-accent-text:         $teal-100-text;
$theme-background:    $grey-100;      $theme-background-text:     $grey-100-text;
$theme-light:         $teal-50;       $theme-light-text:          $teal-50-text;

$theme-text-color:    $grey-900;      $theme-link-color: $theme-primary-dark;   $theme-link-hover-color: $teal-800;
$box-bg:              #fff;
$gradient-body:       true;           $gradient-banner: true;

@import "hr-theme";
